@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイルをここに追加 */

body {
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
  word-break: normal; /* 単語の分割はデフォルトに依存 */
  line-break: strict; /* 禁則処理を厳格に適用 */
}
.gap-5{
    gap: .5rem;
}
.gap-6{
    gap: .3rem;
}

.c-badge{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #000;
    color: #fff;
    font-size: .6rem;
    line-height: 1;
    padding: .1rem;
    border-top-right-radius: .3rem;

    &[data-clickable="false"]{
        background-color: #cc02c1;
    }
}